
L63_States.txt
W_6000_60000.15.txt
*.txt
*.npz
*.txt
*.txt
L63_States.txt
*.png
*.pptx
Prediction_Correction.py
Prediction_Correction.py
*.txt
L63_States.txt
L63 Setup1 Grid Search.pdf
activation(x)_synchronization_Y_target.png
L63_States.txt
ddc-plotting.py
mse_array_gen_sync_Colpitts
mse_array_gen_sync_extended_L63
mse_array_gen_sync_L63
mse_array_gen_sync_L96
mse_array_gen_sync_L96 10-D
mse_array_gen_sync_L96 4-D
mse_array_gen_sync_L96 5-D
mse_array_gen_sync_L96 6-D
mse_array_gen_sync_L96 7-D
mse_array_gen_sync_L96 8-D
mse_array_gen_sync_L96 9-D
